div.header
    div.container.clearfix
        div.wrapper

            h1.logo
                a(href="./")
                    img(src="img/logo.gif")

            div.language
                a(href="./") EN
                a(href="../") 中文

            ul.nav
                li.home.on
                    a(href="index.php") Projects
                li.about
                    a(href="about.php") About
                li.careers
                    a(href="careers.php") Careers
                li.contact
                    a(href="contact.php") Contact