include inc/head.jade

ul.container.clearfix
    for image in gallery
        li.col-md-4
            a(href='##{image.link}')
                img(src='#{image.imageSrc}')
                p #{image.name}