a.logo {
    display: inline-block;
    position: fixed;
    background-image: url("images/logo.gif");
    background-size: cover;
    width: 150px;
    height: 142px;
}

ul.nav {
    float: right;
}

li.col-md-4 {
    text-align: center;
}

.col-md-4 img {
    width: 100%;
}