div.container-fluid.clearfix

    div.container

        a.logo(href="./")

        div.language
            a(href="./") EN
            a(href="../") 中文

        ul.nav.navbar-nav
            li
                a(href="index.php") Projects
            li
                a(href="about.php") About
            li
                a(href="careers.php") Careers
            li
                a(href="contact.php") Contact